.input-container{
  display: grid;
  width: 100%;
  input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 12px;
    padding: 0 8px;
    height: 60px;
    ::placeholder{
      color: $color-primary;
    }
  }
  label{
    text-transform: uppercase;
    color: $color-accent;
    font-weight: bolder;
  }
}
